# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
.idea/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

Assignment 4/Excercise 2/CarTest
Assignment 4/Excercise 2/TruckTest
Assignment 7.2/scanListTest
Assignment 7.2/scanTest

Sort/data
Sort/objects
Sort/sort
Sort/sorted.bin
Sort/sorted.txt
Sort/unsorted.bin
Sort/unsorted.txt

Sluis/Sluice
